valores_ethernet.csv
valores_ethernet.xlsx
arquivo_nuvens.xlsx
arquivo_restricao.xlsx
arquivo_resultado.xlsx
arquivo_resumosoe.xlsx
atendimento_gaia.xlsx
fechamento_lote_nfv.csv
fechamento_nfv_lote_manual.xlsx
sevs_removidas.xlsx
capacity_funil.xlsx